force-app/main/default/flows/file_upload_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>fileNamefull</name>
        <label>fileNamefull</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>fullfilename</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ful</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ful</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>AccountList</name>
        <collectionReference>getAccount</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AccountLookup</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Get_Contact_Record.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fileNameWE</name>
        <dataType>String</dataType>
        <expression>LEFT({!fullfilename}, (FIND(&apos;.&apos;, {!fullfilename})-1))</expression>
    </formulas>
    <formulas>
        <name>Site_URL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
           LEFT({!$Api.Partner_Server_URL_260},FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_530})),
           &apos;salesforce.com/&apos;,
           &apos;site.com/&apos;
)</expression>
    </formulas>
    <interviewLabel>file upload flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>file upload flow</label>
    <loops>
        <name>ful</name>
        <label>ful</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>file_upload.fileNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>fileNamefull</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contact_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Content Document Link</description>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>finish_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>get.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordLookups>
        <name>get</name>
        <label>get</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>file_upload.contentVersionIds</elementReference>
            </value>
        </filters>
        <object>ContentVersion</object>
    </recordLookups>
    <recordLookups>
        <description>Get Contact Record</description>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>bc</targetReference>
        </connector>
        <object>Account</object>
    </recordLookups>
    <screens>
        <description>abc</description>
        <name>bc</name>
        <label>bc</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ful</targetReference>
        </connector>
        <fields>
            <name>Choice_Lookup</name>
            <choiceReferences>AccountLookup</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Choice_Lookup</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Select User</stringValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Site</name>
            <fieldText>&lt;p&gt;{!Site_URL}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChoiceLookup2</name>
            <choiceReferences>AccountList</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>ChoiceLookup 2</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Select Account</stringValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>file_upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>abc</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>cdi</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>finish_screen</name>
        <label>finish screen</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>finsh</name>
            <fieldText>&lt;p&gt;finish&lt;/p&gt;&lt;p&gt;{!cdi}&lt;/p&gt;&lt;p&gt;{!file_upload.contentDocIds}&lt;/p&gt;&lt;p&gt;{!file_upload.fileNames}&lt;/p&gt;&lt;p&gt;CV : {!file_upload.contentVersionIds}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;get record : {!get.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;CD from get&lt;/p&gt;&lt;p&gt;{!get.ContentDocumentId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!fullfilename}&lt;/p&gt;&lt;p&gt;{!fileNameWE}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Content Document Link Id&lt;/p&gt;&lt;p&gt;{!Create_Content_Document_Link}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getAccount</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AccountRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cdi</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cdr</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>fullfilename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contact Record Id</description>
        <name>Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
